<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devilyang.musicstation"
    android:versionCode="201"
    android:versionName="2.0.1" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.devilyang.musicstation.MusicStationApplication" >
        <!-- Don't forgot InitActivity -->
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.devilyang.musicstation.MusicStationMainActivity"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.devilyang.musicstation.DetailActivity"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:screenOrientation="portrait"
            android:launchMode="standard"></activity>
        <activity android:name="com.devilyang.musicstation.VideoViewPlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
   		<meta-data android:name="UMENG_CHANNEL" android:value="10086" />
        </application>

</manifest>
